<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Eoltests</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
=======
  <title>Eoltesting</title>
>>>>>>> 6137f540dd17543abf62c342d466bad567cbdacc
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
